/* Definicions de classes utils genèriques */
.desktop { display: flex !important; }
.mobile  { display: flex !important; }
@media only screen and (max-device-width: 599px) { 
    .desktop { display: none !important; } 
}
@media only screen and (min-device-width: 600px) { 
    .mobile  { display: none !important; } 
}

.flex       { display: flex; }
.flexRow    { flex-direction: row; }
.flexColumn { flex-direction: column; }
.none       { display: none; }
.halfWidth  { max-width: 50%; }
.botoIcona  { cursor: pointer; }


/* Definicions específiques */
table, th, td {
    border-collapse: collapse;
    border: 1px solid whitesmoke;
}
body {
    font-family: "Open Sans";
}
body > div {
    display: none;
}
body > #frontendHome {
    display: flex;
    flex-wrap: wrap;
}

body > #frontendProductes {
    display: none;
}

body > #frontendProductes > #productesContinguts {
    width: 100%;
    flex-wrap: wrap;
}

.botoMenu {
    color: whitesmoke;
    display: block;
    cursor: pointer;
    padding: 13px;
}

.botoMenu:hover {
    background: rgb(180, 18, 18);
}
#productesContinguts {
    width: 100%;
    flex-wrap: wrap;
}
#popups {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#popups > div {
    border: solid 1px black;
    background-color: lightcyan;
    display: none;
}

/* Banner */
.banner{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 60px;
}
.banner ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.banner ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.banner li{
    width: 100%;
    list-style: none;
}
.banner img{
    width: 100%;
    height: 400px;
}
@keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}

    50%{margin-left:-200%;}
    70%{margin-left:-200%;}

    75%{margin-left:-300%;}
    100%{margin-left:-300%;}
}
.mobile {
    display: flex;
}
/* Cierre banner */

#frontendMenuWeb {
    align-items: center;
    color: white;
    background-color: red;
    font-size: 0.85em;
    height: 48px;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
    user-select: none;
    width: 90%;
}
#frontendMenuWeb > div:first-child {
    text-align: left;
}
#frontendMenuWeb > div {
    flex-grow: 1;
    text-align: center;
}
@media only screen and (max-device-width: 599px) {
    #frontendMenuWeb > div:last-child {
        text-align: right;
    }
}
#frontendMenuWeb > div > a {
    color: white;
    text-decoration: none;
}
#frontendMenuWeb > div > a:visited {
    color: white;
}
#frontendMenuWeb > div > a:hover {
    color: lightgray;
}
#frontendMenuMobil {
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: saturate(200%) blur(5px);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease;
}
#menuContainer {
    border-radius: 10px;
    background: rgba(248,80,50,1);
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    overflow-x: none;
    overflow-y: scroll;
    transition: top 0.5s ease;
}
#frontendMenuMobil > #menuContainer > div:first-child {
    padding: 0.5em auto;
}
#frontendMenuMobil > #menuContainer > div {
    border-bottom: 1px solid rgb(145, 0, 0);
    padding: 0 2em;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#frontendMenuMobil > #menuContainer > div:last-child {
    margin-bottom: 10px;
    padding: 0.5em auto;
}
#frontendMenuMobil > #menuContainer > div > a {
    color: grey;
    text-decoration: none;
    font-size: 1.5em;
}
#frontendMenuMobil > #menuContainer > div > a:visited {
    color: grey;
}
#fixedTitle {
    align-items: center;
    backdrop-filter: saturate(180%) blur(2px);
    background-color: rgba(255,255,255,0.7);
    border-bottom: 1px solid grey;
    display: flex;
    font-size: 0.9em;
    height: 48px;
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
    top: 0px;
    user-select: none;
    width: 90%;
}
@media only screen and (max-device-width: 599px) {
    #fixedTitle {
        padding-left: 2.5%;
        padding-right: 2.5%;
        width: 95%;
    }
}
#fixedTitle > .center {
    align-items: baseline;
    display: flex;
    width: 100%;
}
#fixedTitle > .center > div {
    text-align: center;
}
@media only screen and (max-device-width: 599px) {
    #fixedTitle > .center > div:last-child {
        align-self: center;
        margin-left: 0.75em;
        padding-top: 0.1em;
    }
}
#fixedTitle > .center > .title {
    font-size: 1.1em;
    font-weight: bolder;
    text-align: left;
}
#fixedTitle > .center > .tilte:last-child {
    text-align: right;
}
#fixedTitle > .center > .subtitle {
    color: grey;
    flex-grow: 1;
    font-size: 1em;
    font-weight: lighter;
    margin-left: 1em;
    text-align: left;
}
#fixedTitle > .center > .buybutton {
    background-color: red;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.33337;
    letter-spacing: -0.01em;
    padding: 4px 11px;
}
#fixedTitle > .center > .mobile > .menubutton {
    font-size: 1.5em !important;
}

/* Cajita de viajes */
.container{
    padding: 10px;
}

.lista-viajes .viaje1{
    padding: 30px;
    border-radius: 5px;
    background: #d5d5d5;
    background-image: url('https://images.pexels.com/photos/590478/pexels-photo-590478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    transition: .3s all;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}


.lista-viajes .viaje1:hover{
    box-shadow: 1px 1px 4px #000;
}

.lista-viajes .viaje1 h4{
    font-size: 30px;

}

.lista-viajes .viaje1 p{
    margin-bottom: 10px;

}


.lista-viajes .viaje1 a{
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #df3838;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;


}

.lista-viajes .viaje2{
    padding: 30px;
    border-radius: 5px;
    background: #d5d5d5;
    background-image: url('https://images.pexels.com/photos/1388030/pexels-photo-1388030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    transition: .3s all;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

.lista-viajes .viaje2:hover{
    box-shadow: 1px 1px 4px #000;
}

.lista-viajes .viaje2 h4{
    font-size: 30px;

}

.lista-viajes .viaje2 p{
    margin-bottom: 10px;

}


.lista-viajes .viaje2 a{
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #df3838;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;


}

.lista-viajes .viaje3{
    padding: 30px;
    border-radius: 5px;
    background: #d5d5d5;
    background-image: url('https://images.pexels.com/photos/2931007/pexels-photo-2931007.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    transition: .3s all;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

.lista-viajes .viaje3:hover{
    box-shadow: 1px 1px 4px #000;
}

.lista-viajes .viaje3 h4{
    font-size: 30px;

}

.lista-viajes .viaje3 p{
    margin-bottom: 10px;

}


.lista-viajes .viaje3 a{
    color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #df3838;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
}
/* Cierre cajita de viajes */

/* Footer */

footer{
    padding: 10px 10px;
    background-color: red;
    border-left: 17px solid rgba (15, 15, 121, .);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer p a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}
/* Cierre footer */

/* Productos */
.producte {
    border: solid 1px black;
    padding: 30px;
    border-radius: 5px;
    background: #d5d5d5;
    background-size: cover;
    transition: .3s all;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

.producte:hover{
    box-shadow: 1px 1px 4px #000;
        transition: .3s all;
    color: rgb(0, 0, 0);
    background-color: #707070;
}

/* Cierre Productos */

/* Presentación */

.contenedor-presentacion{
    display: flex;
    justify-content: space-evenly;

}

.imagen-presentacion{
    width: 20vw;
    height: 20vw;
}
.contenedor-presentacion .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 10px;
}

.contenido-textos h3 span{
    background: red;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.contenedor-presentacion2{
    display: flex;
    justify-content: space-evenly;

}

.contenedor-presentacion2 .contenido-textos2{
    width: 48%;
}

.contenido-textos2 h3{
    margin-bottom: 10px;
}

.contenido-textos2 h3 span{
    background: red;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-textos2 p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Cierre Presentación */

/* Contenido Productos */
.detalle-producto p {
    color: grey;
    font-size: 2em;
    font-weight: lighter;
    text-align: justify;
    max-width: 75%;
    margin: 2em auto;